# VS Code
.vscode/

# Python cache
__pycache__/
*.py[cod]

# PyTorch checkpoints
*.pt

# Numpy datasets
*.npz

# mujoco xml file
assets/franka_emika_panda

# Optional: OS/editor files
.DS_Store
Thumbs.db
