# VS Code
.vscode/

# Python cache
__pycache__/
*.py[cod]

# PyTorch checkpoints
*.pt

# Numpy datasets
*.npz

# mujoco xml file
assets/franka_emika_panda
assets/kuka_iiwa_14

# fourier checkpoints
model/fourier_smm/results

# Optional: OS/editor files
.DS_Store
Thumbs.db
